extends ../../master

block title
    title See Each Wish Card | Donate Gifts

block modal
    include ../../components/modal/checkoutHelperModals.pug

block scripts
    script.
        $(document).ready(() => {
            const root = ReactRoot(document.querySelector('#app-root'));
            const wishcard = !{JSON.stringify(wishcard)};
            const agency = !{JSON.stringify(agency)};
            const user = !{JSON.stringify(user)};
            const extendedPaymentInfo = !{JSON.stringify(extendedPaymentInfo)};
            const stripeKey = '#{locals.env.stripe}';
            const paypalKey = '#{locals.env.paypal}';
            root.render(
                React.createElement(
                    WishCardDonate, {
                        wishcard,
                        agency,
                        user,
                        extendedPaymentInfo,
                        stripeKey,
                        paypalKey
                    }
                )
            );
        });